 [class*="col-"]{
    float: left;
    padding: 10px;
    
    
}
.row{
    width: 100%;
}
.row::after{
    clear: both;
    content: '';
    display: block;
}
 [class*="col-"]{
    
    width: 100%;
    
} 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@media (min-width: 0px) {
    /* For mobile: */
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
    /* heading starts here */
    .icon i{
        font-size: 70px;
        border: 5px solid white;
        border-radius: 50%;
        color: white;
        padding: 33px;
        margin-bottom: 30px;
        
    }
    .heading{
        background-color: rgb(47, 160, 160);
        height: 580px;
        text-align: center;
        
    }
    .nav a{
    }
    
    .nav a{
        text-decoration: none;
        color: rgb(247, 241, 241);
        font-size: 1.2rem;
        margin-top: 10px;
        padding: 10px;
        margin: 40px;
        display: block;
        border-radius: 5px;

    }
    .nav a:hover{
        background-color: gray;
        /* padding: 5px;
        margin: 5px; */
        
    }
    .heading::after{
        clear: both;
        content: '';
        display: table;
    }

        /* heading ends here */
        /* Poster starts here */
        .poster{
            background-image: url(https://images.unsplash.com/photo-1552566626-52f8b828add9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cmVzdGF1cmFudHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80);
            background-position: center;
            background-attachment: fixed;
            background-size: cover;
            text-align: center;
            background-repeat: no-repeat;
            
            

        }
        .title{
            padding: 50px 10px 0px 10px;
            text-align: center;
            opacity: 90%;
            
            
            
        }
        .title h1{
            background-color: rgb(252, 249, 76);
            width: 100%;
            margin: 15px auto;
            font-size: 3rem;
            border-radius: 5px;
            padding: 10px;
            font-family: 'Architects Daughter', cursive;
            /* padding-left: -30%; */
            
            
            
            
        }
        .rest{
            
        }
        .rest p{
            width: 300px;
            margin: 15px auto;
            background-color: rgb(38, 156, 8);
            
            font-size: 2rem;
            color: white;
            padding: 10px;
            
            
            
        }
        .rest button{
            background-color: rgb(38, 156, 8);
            padding: 5px;
            font-size: 1.8rem;
            color: white;
            margin-bottom: 50px;
            border-radius: 5px;
            cursor: pointer;
            text-transform: uppercase;
            transition: .4s;
        }
        .rest button:hover{
            transform: scale(1.2);
        }
        .poster::after{
            content: '';
            clear: both;
            display: table;
        }
        /* Poster ends here */
        /* about us starts */
        .aboutus{
            text-align: center;
            padding: 20px 0;
            margin-bottom: 30px;
        }
        .aboutus h2{
            font-size: 2rem;
            font-weight: bolder;
            margin-bottom: 10px;
        }
        .aboutus p{
            font-size: 1rem;

        }
        .aboutus::after{
            content: '';
            clear: both;
            display: table;
        }

        /* about us ends */
        /* food menu starts */
    .cardpic img{
        max-width: 100%;
        height: auto;
        display: block;
    }
    .card{
        /* margin-right: 100px; */
        /* background-color: rgb(182, 182, 182); */
        /* width: 97% ; */
        text-align: center;
        transition: .5s;
        /* padding: 10px; */
        /* margin: 5px; */
        margin-bottom: 10px;
    }
    .card-title{
        background-color: green;
        color: white;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .card-desc{
        background-color: grey;
        padding-bottom: 20px;
    }
    .card-desc p{
        padding: 10px;
        font-weight: bold;
        
    }
    .card:hover{
        transform: scale(1.05);
    }
    .row{
        text-align: center;
    }
    .menu{
        padding: 1%;
    }
    .menu::after{
        content: '';
            clear: both;
            display: table;
    }


        /* food menu ends */
        /* contact me starts */
        #contact{
            background-color: rgb(111, 95, 148);
            
            padding: 1%;
            
            
        }
        .map1{
            width: 100%;
            height: 250px;
            
        }
        .details{
            color: white;
            text-align: center;
            padding: 20px 0;
        }
        .details p, address{
            font-size: .8rem;

        }
        #contact::after{
            content: '';
            clear: both;
            display: table;
        }
        
        
    
        /* contact me ends  */

        /* footer stars */
        footer{
            background-color: rgb(30, 30, 61);
            
        }
        .copy{
            color: 
            white;
            margin-top: 30px;
            margin-bottom: 20px;
        }
        i{
            font-size: 2rem;
            border-radius: 50%;
            padding: 5px;
            border: white solid 2px;
            transition: .3s;
        }
        i:hover{
            transform: scale(1.2);
            

        }
        .socials a i:hover{
            box-shadow: 3px 0px 2px white;
        }
        .socials a{
            margin: 7px;

        }
        .socials{
            padding: 20px;
        }
        
        /* footer ends */
  }

  @media (min-width: 768px) {
    /* For medium: */
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
    /*heading starts here */
    .nav a{
        display: inline;
        margin: 10px;
    }
    .heading{
        
        height: 370px;
    }
    /*heading  ends here */

    
  }

  